# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
.venv*/

# Env files
.env
.env.local

# Editors/IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Excel
*.xlsx